@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

#data {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
}

.table-content {
    width: 100%;
    margin-top: 5%;
}

.nomer {
    font-size: 18pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

.img img {
    width: 60%;
    height: 80%;
}